<!DOCTYPE html>
                    <input type="file"
                           name="audio"
                           accept=".wav">

                    <span>
                        Upload Real Audio (.wav)
                    </span>

                </label>

                <button class="analyze-btn" type="submit">
                    Convert Audio
                </button>

            </form>

            {% if message %}
            <div class="result-section">

                <div class="inner-card">

                    <h2>{{ message }}</h2>

                    <h3>Original Audio</h3>

                    <audio controls>
                        <source src="{{ original_audio }}"
                                type="audio/wav">
                    </audio>

                    <br><br>

                    <h3>AI Generated Audio</h3>

                    <audio controls>
                        <source src="{{ ai_audio }}"
                                type="audio/wav">
                    </audio>

                </div>

                <div class="inner-card">

                    <h2>
                        Detection Result
                    </h2>

                    <h3>
                        {{ prediction }}
                    </h3>

                    <p>
                        Confidence: {{ confidence }}%
                    </p>

                </div>

            </div>
            {% endif %}

        </div>

    </div>

</section>

<script>
function toggleSidebar() {

    document.getElementById("sidebar")
            .classList.toggle("active");

    document.getElementById("overlay")
            .classList.toggle("active");
}
</script>

</body>
</html>